.center-item {
    display: flex;
    justify-content: center;
}

.header {
    margin: 10px;
    justify-content: center; 
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: lightsteelblue;
    border-radius: 15px;
}

.spacer {
    flex-grow: 0.25;
}

.top-header-div-style {
    justify-content: center; 
    background-color: lightblue;
    border-radius: 15px;
    color: darkcyan;
}