<mat-card class="pokemon-card" appearance="raised">
  <mat-card-header>
    <img mat-card-avatar class="avatar-image" [src]='spriteUrl'>
    <mat-card-title>{{pokemon.name | titlecase}}</mat-card-title>
    <mat-card-subtitle> 
      <mat-chip style="margin-top: 10px;">{{pokemon.type | titlecase}}</mat-chip>
    </mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content style="display:flex; flex-direction: column; justify-content: space-between; height: 120px;">
    <span class="info-text">#{{pokemon.id | number:'3.0-0'}}</span>


    <div class="row" style="height: 100%;">
      <div class="col battle-stat-div" style=" border: 5px solid green;">
        <span class="info-text label-span">Wins</span>
        <span class="number-span">{{pokemon.wins}}</span>
      </div>

      <div class="col battle-stat-div" style=" border: 5px solid gold;">
        <span class="info-text label-span">Ties</span>
        <span class="number-span">{{pokemon.ties}}</span>
      </div>

      <div class="col battle-stat-div" style=" border: 5px solid red;">
        <span class="info-text label-span">Losses</span>
        <span class="number-span">{{pokemon.losses}}</span>
      </div>
    </div>
    
    <div>
      <div style="display: flex; justify-content: space-between;">
        <span class="info-text">Win rate</span>
        <span class="info-text">{{winRate}}%</span>
      </div>
      
      <mat-progress-bar mode="determinate" [value]="winRate"></mat-progress-bar>
    </div>
    
  </mat-card-content>


  <mat-card-actions>
    <audio #audioPlayer [src]='battleCryUrl'></audio>
    <button mat-icon-button (click)="audioPlayer.play()">
        <span class="material-symbols-outlined">
        select_to_speak
        </span>
      </button>
  </mat-card-actions>
</mat-card>
