<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <img mat-card-avatar src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/144.png">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <span>Trophy</span>  
  </mat-card-header>
  
  <mat-card-content>
    <span>#006</span>
    <div>stats</div>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  </mat-card-content>


  <mat-card-actions>
    <audio #audioPlayer [src]='battleCryUrl'></audio>
    <button mat-button (click)="audioPlayer.play()">Cry!</button>
  </mat-card-actions>
</mat-card>
